<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h4>Add Candidate</h4>
            <form method="POST" action="/home/addcandidateToDB">
                <input type="text" name="name" placeholder="Name" class="form-control" />
                <br />
                <input type="text" name="email" placeholder="Email" class="form-control" />
                <br />
                <input type="text" name="phone" placeholder="Phone Number" class="form-control" />
                <br />
                <textarea rows="5" class="form-control" name="notes"></textarea>
                <br />
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

