<a href="/home/AddCandidate">Add Candidate</a>
<br />
<a href="/home/confirmedview">View Confirmed</a>
<br />
<a href="/home/pendingview">View Pending</a>
<br />
<a href="/home/declinedview">View Declined</a>